<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UWorx.HR.Data.Properties.Settings.HumanResourcesConnectionString"
            connectionString="Data Source=.;Initial Catalog=HumanResources;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>